body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.min-height{
  height: 350px;
}
tr td, th {
  vertical-align: middle;
}
.navbar{
  background-color: #802C6E !important;
}
.nav-link{
  color: white !important;
}
.pos{
  top: -3px;
  right: -15px;
}
button{
  background-color: #802C6E !important;
  color: #fff !important;
}